// base colors
$themeColorPrimary: #58b1fe;
$themeColorSecondary: #4aa24c;
$themeColorGreen: #00eb88;
$text-color: #000000;
$content-color: #000000;
$border-color: #3e3e3f;
$content-bg: #000000;
$white: #ffffff;
$black: #000000;
$red: #d94c56;
$green: #00b300;
$orange: #ffa500;
$yellow: #ffd700;
$indigo: #8171d9;
$pink: #e83e8c;
$blue: #0367fc;
$info: #00b5d9;
$success: #00eb88;
$purple: #8553e7;